:root {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;

  color: lightblue;
  background-color: #242424;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #7c81df;
}

li {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
