.wizard-grid {
  /* Creates a grid where each cell is 200px wide and with a 10x gap between them, the amount of columns is handled by media queries for responsiveness */
  display: grid;
  gap: 10px;
  height: 80vh;
}

.wizard-card {
  /* Using flexbox to center the content of every card horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  
  /* Background, hover animation and border styling */
  background-color: #1e1e1e;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.wizard-card:hover {
  transform: scale(1.03);
}

.wizard-card img {
  max-width: fit-content;
  max-height: 170px;
  border-radius: 4px;
}

@media (min-width: 320px) {
  .wizard-grid {
    grid-template-columns: 200px;
  }
}

@media (min-width: 768px) {
  .wizard-grid {
    grid-template-columns: 200px 200px 200px;
  }
}

@media (min-width: 1024px) {
  .wizard-grid {
    grid-template-columns: 200px 200px 200px 200px;
  }
}